This notebook includes a simple hardcoded chain that generates a SQL-query from a natural language question, executes this SQL-query and then generates a natural language answer with the output of the SQL-query regarding the original natural language question.

Install the required libraries:

In [1]:
pip install --upgrade --quiet  langchain langchain-community langchain-openai

WARNING: Skipping /opt/conda/lib/python3.11/site-packages/nlopt-2.7.1.dist-info due to invalid metadata entry 'name'
WARNING: Skipping /opt/conda/lib/python3.11/site-packages/nlopt-2.7.1.dist-info due to invalid metadata entry 'name'
Note: you may need to restart the kernel to use updated packages.

Import the necessary modules:

In [2]:
from langchain_community.utilities import SQLDatabase
from langchain_community.tools.sql_database.tool import QuerySQLDataBaseTool

from langchain.chains import create_sql_query_chain

from langchain_openai import ChatOpenAI

from operator import itemgetter

from langchain_core.output_parsers import StrOutputParser
from langchain_core.prompts import PromptTemplate
from langchain_core.runnables import RunnablePassthrough

Fill in your OpenAI API key in the cell below to make sure your key is used as the environment variable.

In [3]:
#for gpt-4o:
%env OPENAI_API_KEY=

env: OPENAI_API_KEY=sk-proj-VYdLJEqGVWXF0GpsHCCqT3BlbkFJTn4vCvSeAUqQrCtyBh6v

In the cell below, it is shown if it is possible to interact with the wijkpaspoort.sqlite3 database, using the SQLAlchemy-driven SQLDatabase class from the langchain-community library. An open source library that contains third-party integrations that implement the base interfaces defined in LangChain Core, making them ready-to-use in any LangChain application.

In [4]:
db = SQLDatabase.from_uri("sqlite:///wijkpaspoort.sqlite3")
print(db.dialect)
print(db.get_usable_table_names())
print() #print db.get_table_info will print all the tables, their columns 
    #and three example rows. This table_info will later be used to create 
    #the prompt that is given to the llm.
db.run("SELECT * FROM addresses LIMIT 10;")

sqlite
['addresses', 'associated_fat', 'associated_liquid', 'clients', 'cluster_results', 'consumption_day', 'consumption_recipe', 'consumption_sup_nut', 'districts', 'household_income', 'measurements', 'municipalities', 'neighborhoods', 'participants', 'peoples_income', 'provinces', 'schools', 'sports_facilities', 'user_client', 'users']

"[(1, '9711LX', 51, '00140000', '001400', '0014'), (2, '9712AA', 1, '00140000', '001400', '0014'), (3, '9712AA', 3, '00140000', '001400', '0014'), (4, '9712AA', 5, '00140000', '001400', '0014'), (5, '9712AA', 7, '00140000', '001400', '0014'), (6, '9712AA', 9, '00140000', '001400', '0014'), (7, '9712AA', 11, '00140000', '001400', '0014'), (8, '9712AA', 13, '00140000', '001400', '0014'), (9, '9712AA', 15, '00140000', '001400', '0014'), (10, '9712AA', 17, '00140000', '001400', '0014')]"

In the cell below, a prompt is constructed that will be given to the LLM to come up with the right response.

In [5]:
from langchain_core.prompts import PromptTemplate

template = '''Given an input question create a syntactically correct sqlite query to run, then look at the results of the query and return the answer.
Unless the user specifies a specific number of examples they wish to obtain, always limit your query to at most {top_k} results.
When there are less than {top_k} examples available in the database, limit the results to the number of examples that are available in the database.
You can order the results by a relevant column to return the most interesting examples in the database.
Only use the given tools. Only use the information returned by the tools to construct your final answer.
Make sure the SQL-query starts with 'SELECT' and does not start with something like: ' ```sql '.
Delete preceding backticks (```) and the 'sql' keyword when constructing a query.
Also make sure the SQL-query ends with a semicolon.
If you get an error while executing a query, rewrite the query and try again.

DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.

If the question does not seem related to the database, just return "I don't know" as the final answer.

Only use the following tables:

{table_info}.

Question: {input}'''
prompt = PromptTemplate.from_template(template)

In the cell below, the user input (natural language question) is taken and converted to a SQL query. LangChain comes with a built-in chain for this: create_sql_query_chain and it asks for four arguments: the LLM of choice, the database of choice, the prompt that is designed above and the (k) number of results that need to be included in the output.

In [6]:
llm = ChatOpenAI(model="gpt-4o", temperature=0)
chain = create_sql_query_chain(llm, db, prompt=prompt, k=10)
response = chain.invoke({"question": "How many addresses are there?"})
response

'SELECT COUNT(*) FROM addresses;'

It is possible to run this SQL-query in the database:

In [7]:
db.run(response)

'[(7888477,)]'

In the cell below, the third-party integration: QuerySQLDataBaseTool is used to easily add query execution to the chain. The only argument that it requires is the database that we already set up before.

In [8]:
execute_query = QuerySQLDataBaseTool(db=db)
write_query = create_sql_query_chain(llm, db, prompt=prompt, k=10)
chain = write_query | execute_query
chain.invoke({"question": "How many addresses are there?"})

'[(7888477,)]'

In the cell below, the natural language question and the SQL-output are passed to the LLM once more, in order to generate a natural language answer.

In [9]:
answer_prompt = PromptTemplate.from_template(
    """Given the following user question, corresponding SQL query, and SQL result, answer the user question.

Question: {question}
SQL Query: {query}
SQL Result: {result}
Answer: """
)

#This chain fills in the above answer_prompt --> pass it to the LLM --> convert the output of the LLM into a string.
answer = answer_prompt | llm | StrOutputParser()

#The chain has the format of: (create_SQL_query and save the SQL-query part --> pass the SQL-query to the QuerySQLDataBaseTool, which will execute the SQL-query) --> pass the output of the QuerySQLDataBaseTool to the chain above.
chain = (RunnablePassthrough.assign(query=write_query).assign(result=itemgetter("query") | execute_query) | answer)

chain.invoke({"question": "List all measurements for the municipality of 'Amsterdam'"})

"The error in the SQL query is due to the inclusion of the backticks (```sql) which are not valid SQL syntax. These backticks are typically used in markdown to format code blocks, but they should not be included in the actual SQL query.\n\nHere is the corrected SQL query:\n\n```sql\nSELECT * \nFROM measurements \nWHERE municipality_code = (SELECT municipality_code FROM municipalities WHERE municipality_name = 'Amsterdam') \nLIMIT 10;\n```\n\nThis query will list all measurements for the municipality of 'Amsterdam', but only the first 10 results due to the `LIMIT 10` clause. If you want to retrieve all measurements without limiting the results, you can remove the `LIMIT 10` clause:\n\n```sql\nSELECT * \nFROM measurements \nWHERE municipality_code = (SELECT municipality_code FROM municipalities WHERE municipality_name = 'Amsterdam');\n```\n\nPlease run the corrected query to get the desired results."

In [10]:
questions = [
    {"question": "How many addresses are in the database?"},
    {"question": "How many school are there?"},
    {"question": "List all measurements for the municipality of ‘’s-Hertogenbosch’"},
    {"question": "How many indor services are there for korfball?"},
    {"question": "How many measurements are there in the municipality of Staphorst where the percentage of people with excellent to very good health is above 60%?"},
    {"question": "How many measurements are there for the Vondelburt district where more than 1 out of 10 people is a heavy drinker%?"},
    {"question": "Can you show me the top 10 municipalities by their average percentage of weekly sporters?"},
    {"question": "List the top 10 districts by overwait and also list their respective values?"},
    {"question": "Can you find the top 10 municipalities with the highest median standardised income for me? Also show me how many people in that municipality have overweight and how many have a high risk of anxiety or depression."},
    {"question": "Give me the top 20 neighbourhoods in the Netherlands based on the amount of people who had very high stress in the past 4 weeks and have more than 20 percent of heavy drinkers. Also show me in which municipalities these neighborhoods are located."},
    {"question": "Can you show me the municipalities with an average disposable income between 100 and 120 and also show me the respective percentage of weekly sporters in that municipality?"},
    {"question": "Make a list with the top 10 neighborhoods and their municipalities with, on average, the highest percentage of weekly sporters but where the average standardized income of the corresponding municipality is below 15."},
]

In [12]:
for i, question in enumerate(questions):
    try:
        ans = chain.invoke(question)
        query = write_query.invoke(question)
        print("Question {} : {}".format(i+1, question))
        print("Query : ", query)
        print("Answer : ", ans)
        print()
    except Exception as e:
        print("Question {} : {}".format(i+1, question))
        print("Error : ", e)
        print()

Question 1 : {'question': 'How many addresses are in the database?'}
Query :  SELECT COUNT(*) FROM addresses;
Answer :  There are 7,888,477 addresses in the database.

Question 2 : {'question': 'How many school are there?'}
Query :  SELECT COUNT(*) FROM schools;
Answer :  There are 6,166 schools.

Question 3 : {'question': 'List all measurements for the municipality of ‘’s-Hertogenbosch’'}
Query :  ```sql
SELECT *
FROM measurements
WHERE municipality_code = (
    SELECT municipality_code
    FROM municipalities
    WHERE municipality_name = '’s-Hertogenbosch'
)
LIMIT 10;
```
Answer :  To answer the user question "List all measurements for the municipality of '’s-Hertogenbosch’", we need to interpret the SQL query and the result.

The SQL query is designed to fetch all measurements for the municipality of '’s-Hertogenbosch’. It does this by first finding the municipality code for '’s-Hertogenbosch’ from the `municipalities` table and then using that code to fetch the corresponding measurements from the `measurements` table. The query limits the results to the first 10 entries.

However, the SQL result is not provided in your message. Without the actual data from the SQL result, I cannot list the specific measurements.

If you can provide the SQL result, I can help you interpret and list the measurements. If the result is empty, it means there are no measurements recorded for '’s-Hertogenbosch’ in the database.

Question 4 : {'question': 'How many indor services are there for korfball?'}
Query :  SELECT SUM(total_indoor_services) AS total_indoor_services
FROM sports_facilities
WHERE sport = 'korfball';
Answer :  There are no indoor services for korfball.

Question 5 : {'question': 'How many measurements are there in the municipality of Staphorst where the percentage of people with excellent to very good health is above 60%?'}
Query :  ```sql
SELECT COUNT(*)
FROM measurements
JOIN municipalities ON measurements.municipality_code = municipalities.municipality_code
WHERE municipalities.municipality_name = 'Staphorst'
AND measurements.excellent_very_good_health > 60;
```
Answer :  There are 6 measurements in the municipality of Staphorst where the percentage of people with excellent to very good health is above 60%.

Question 6 : {'question': 'How many measurements are there for the Vondelburt district where more than 1 out of 10 people is a heavy drinker%?'}
Query :  SELECT COUNT(*)
FROM measurements
WHERE district_code = 'Vondelburt'
AND heavy_drinker > 10.0;
Answer :  There are no measurements for the Vondelburt district where more than 1 out of 10 people is a heavy drinker.

Question 7 : {'question': 'Can you show me the top 10 municipalities by their average percentage of weekly sporters?'}
Query :  SELECT municipality_name, AVG(weekly_sporters) AS avg_weekly_sporters
FROM cluster_results
GROUP BY municipality_name
ORDER BY avg_weekly_sporters DESC
LIMIT 10;
Answer :  It appears that the SQL query returned a result where the municipality name is `None` with an average percentage of weekly sporters being approximately 46.61%. This suggests that there might be an issue with the data in the `cluster_results` table, such as missing or null values for the `municipality_name` field.

Given this result, I cannot provide the top 10 municipalities by their average percentage of weekly sporters because the data seems to be incomplete or incorrect. You may need to check the data for missing municipality names or ensure that the data is correctly populated before running the query again.

Question 8 : {'question': 'List the top 10 districts by overwait and also list their respective values?'}
Query :  SELECT district_name, overweight
FROM cluster_results
ORDER BY overweight DESC
LIMIT 10;
Answer :  The SQL result indicates that the top 10 districts by overweight values are all listed as `None` for the district names, with the overweight values being 100.0 for the first five entries and 92.9 for the next five entries. This suggests that there might be an issue with the data in the `district_name` column, as it is returning `None` for all entries.

Here is the answer based on the provided result:

The top 10 districts by overweight values are:
1. District: None, Overweight: 100.0
2. District: None, Overweight: 100.0
3. District: None, Overweight: 100.0
4. District: None, Overweight: 100.0
5. District: None, Overweight: 100.0
6. District: None, Overweight: 92.9
7. District: None, Overweight: 92.9
8. District: None, Overweight: 92.9
9. District: None, Overweight: 92.9
10. District: None, Overweight: 92.9

It appears that the district names are missing or not properly recorded in the database.

Question 9 : {'question': 'Can you find the top 10 municipalities with the highest median standardised income for me? Also show me how many people in that municipality have overweight and how many have a high risk of anxiety or depression.'}
Query :  SELECT
    hi.municipality_code,
    m.municipality_name,
    hi.median_standerdized_income,
    SUM(cr.overweight) AS total_overweight,
    SUM(cr.high_risk_of_anxiety_or_depression) AS total_high_risk_anxiety_depression
FROM
    household_income hi
JOIN
    municipalities m ON hi.municipality_code = m.municipality_code
LEFT JOIN
    cluster_results cr ON hi.municipality_code = cr.municipality_code
GROUP BY
    hi.municipality_code, m.municipality_name, hi.median_standerdized_income
ORDER BY
    hi.median_standerdized_income DESC
LIMIT 10;
Answer :  Based on the SQL query and the result, here are the top 10 municipalities with the highest median standardized income, along with the number of people in each municipality who are overweight and those who have a high risk of anxiety or depression:

1. **Municipality A**
   - Median Standardized Income: $X
   - Overweight: Y people
   - High Risk of Anxiety or Depression: Z people

2. **Municipality B**
   - Median Standardized Income: $X
   - Overweight: Y people
   - High Risk of Anxiety or Depression: Z people

3. **Municipality C**
   - Median Standardized Income: $X
   - Overweight: Y people
   - High Risk of Anxiety or Depression: Z people

4. **Municipality D**
   - Median Standardized Income: $X
   - Overweight: Y people
   - High Risk of Anxiety or Depression: Z people

5. **Municipality E**
   - Median Standardized Income: $X
   - Overweight: Y people
   - High Risk of Anxiety or Depression: Z people

6. **Municipality F**
   - Median Standardized Income: $X
   - Overweight: Y people
   - High Risk of Anxiety or Depression: Z people

7. **Municipality G**
   - Median Standardized Income: $X
   - Overweight: Y people
   - High Risk of Anxiety or Depression: Z people

8. **Municipality H**
   - Median Standardized Income: $X
   - Overweight: Y people
   - High Risk of Anxiety or Depression: Z people

9. **Municipality I**
   - Median Standardized Income: $X
   - Overweight: Y people
   - High Risk of Anxiety or Depression: Z people

10. **Municipality J**
    - Median Standardized Income: $X
    - Overweight: Y people
    - High Risk of Anxiety or Depression: Z people

(Note: Replace the placeholders $X, Y, and Z with the actual values from the SQL result.)

Question 10 : {'question': 'Give me the top 20 neighbourhoods in the Netherlands based on the amount of people who had very high stress in the past 4 weeks and have more than 20 percent of heavy drinkers. Also show me in which municipalities these neighborhoods are located.'}
Query :  ```sql
SELECT
    cr.neighborhood_name,
    cr.municipality_name,
    cr.very_high_stress_in_past_4_weeks,
    cr.heavy_drinker
FROM
    cluster_results cr
WHERE
    cr.heavy_drinker > 20
ORDER BY
    cr.very_high_stress_in_past_4_weeks DESC
LIMIT 20;
```
Answer :  It appears that the SQL query provided contains syntax errors due to the inclusion of the triple backticks (```sql) which are not valid SQL syntax. These backticks are typically used in markdown to format code blocks, but they should not be included in the actual SQL query.

Here is the corrected SQL query without the backticks:

```sql
SELECT
    n.neighborhood_name,
    m.municipality_name,
    cr.very_high_stress_in_past_4_weeks,
    cr.heavy_drinker
FROM
    cluster_results cr
JOIN
    neighborhoods n ON cr.neighborhood_code = n.neighborhood_code
JOIN
    municipalities m ON n.municipality_code = m.municipality_code
WHERE
    cr.heavy_drinker > 20
ORDER BY
    cr.very_high_stress_in_past_4_weeks DESC
LIMIT 20;
```

You can run this corrected query to get the top 20 neighborhoods in the Netherlands based on the amount of people who had very high stress in the past 4 weeks and have more than 20 percent of heavy drinkers, along with the municipalities they are located in.

Question 11 : {'question': 'Can you show me the municipalities with an average disposable income between 100 and 120 and also show me the respective percentage of weekly sporters in that municipality?'}
Query :  SELECT
    h.municipality_code,
    m.municipality_name,
    h.average_disposable_income,
    c.weekly_sporters
FROM
    household_income h
JOIN
    municipalities m ON h.municipality_code = m.municipality_code
JOIN
    cluster_results c ON h.municipality_code = c.municipality_code
WHERE
    h.average_disposable_income BETWEEN 100 AND 120
LIMIT 10;
Answer :  Based on the SQL query and the result, here are the municipalities with an average disposable income between 100 and 120, along with the respective percentage of weekly sporters in those municipalities:

| Municipality Code | Municipality Name | Average Disposable Income | Percentage of Weekly Sporters |
|-------------------|-------------------|---------------------------|------------------------------|
| 001               | Municipality A    | 110                       | 45%                          |
| 002               | Municipality B    | 115                       | 50%                          |
| 003               | Municipality C    | 105                       | 40%                          |
| 004               | Municipality D    | 120                       | 55%                          |
| 005               | Municipality E    | 100                       | 35%                          |

(Note: The actual data in the SQL result is not provided, so the above table is a hypothetical example based on the structure of the query and the expected result format. Please replace the example data with the actual SQL result data.)

Question 12 : {'question': 'Make a list with the top 10 neighborhoods and their municipalities with, on average, the highest percentage of weekly sporters but where the average standardized income of the corresponding municipality is below 15.'}
Query :  ```sql
SELECT
    cr.neighborhood_name,
    cr.municipality_name,
    cr.weekly_sporters
FROM
    cluster_results cr
JOIN
    household_income hi ON cr.municipality_code = hi.municipality_code
WHERE
    hi.average_standerdized_income < 15
ORDER BY
    cr.weekly_sporters DESC
LIMIT 10;
```
Answer :  The error in the SQL query is due to the inclusion of the triple backticks (```sql) which are not valid SQL syntax. These backticks are typically used in markdown to format code blocks, but they should not be included in the actual SQL query.

Here is the corrected SQL query without the backticks:

```sql
SELECT
    cr.neighborhood_name,
    cr.municipality_name,
    cr.weekly_sporters
FROM
    cluster_results cr
JOIN
    household_income hi ON cr.municipality_code = hi.municipality_code
WHERE
    hi.average_standerdized_income < 15
ORDER BY
    cr.weekly_sporters DESC
LIMIT 10;
```

To answer the user question, you need to execute the corrected SQL query in your database environment. The result will be a list of the top 10 neighborhoods and their municipalities with the highest average percentage of weekly sporters, where the average standardized income of the corresponding municipality is below 15.