This notebook includes the code for a custom agent that uses SQL tools. It only uses basic prompting. The LLM used in this file is ChatGPT-4o.

Install the required libraries:

In [1]:
pip install --upgrade --quiet langchain langchain-community langchain-openai

WARNING: Skipping /opt/conda/lib/python3.11/site-packages/nlopt-2.7.1.dist-info due to invalid metadata entry 'name'
WARNING: Skipping /opt/conda/lib/python3.11/site-packages/nlopt-2.7.1.dist-info due to invalid metadata entry 'name'
Note: you may need to restart the kernel to use updated packages.

Import the necessary modules:

In [2]:
from langchain_openai import ChatOpenAI

from langchain.agents import AgentExecutor

from langchain.agents.output_parsers.openai_tools import OpenAIToolsAgentOutputParser

from langchain.agents.format_scratchpad.openai_tools import format_to_openai_tool_messages

from langchain.agents.agent_toolkits import SQLDatabaseToolkit

from langchain.sql_database import SQLDatabase

from langchain_core.prompts import ChatPromptTemplate
from langchain_core.prompts import MessagesPlaceholder

Fill in your OpenAI API key in the cell below to make sure your key is used as the environment variable.

In [3]:
#for gpt-4o:
%env OPENAI_API_KEY=

env: OPENAI_API_KEY=sk-proj-VYdLJEqGVWXF0GpsHCCqT3BlbkFJTn4vCvSeAUqQrCtyBh6v

Create the large language model that is going to be used:

In [4]:
llm = ChatOpenAI(model="gpt-4o", temperature=0)

Set up the database that is going to be used:

In [5]:
db = SQLDatabase.from_uri("sqlite:///wijkpaspoort.sqlite3")

Set up the SQL-tools for the agent to use:

In [6]:
toolkit = SQLDatabaseToolkit(db=db, llm=llm)
tools = toolkit.get_tools()
tool_names = "sql_db_query, sql_db_schema, sql_db_list_tables, sql_db_query_checker"

Bind the sql-tools to the llm:

In [7]:
llm_with_sql_tools = llm.bind_tools(tools)

Create the prompt that is sent to the agent:

In [8]:
prompt = ChatPromptTemplate.from_messages(
    [
        ("system", """You are an agent designed to interact with a SQL database.
Given an input question create a syntactically correct sqlite query to run, then look at the results of the query and return the answer.
Unless the user specifies a specific number of examples they wish to obtain, always limit your query to at most 10 results.
When there are less than 10 examples available in the database, limit the results to the number of examples that are available in the database.
You can order the results by a relevant column to return the most interesting examples in the database.
Only use the given tools. Only use the information returned by the tools to construct your final answer.
ALWAYS come up with the final answer AFTER you have used the sql_db_query tool. 
DO NOT come up with the answer without constructing a SQL query.
If you have retrieved SQL-output in your observation and you are able to answer the input question with the SQL-output, your next thought may be that you know the final answer.
You MUST double check your query with the sql_db_query_checker tool before executing it. 
Make sure the input to the sql_db_query tool starts with 'SELECT' and does not start with something like: ' ```sql '.
Delete preceding backticks (```) and the 'sql' keyword when constructing a query.
Also make sure the SQL-query ends with a semicolon.
If you get an error while executing a query, rewrite the query and try again.

DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.

If the question does not seem related to the database, just return "I don't know" as the final answer.

You have access to the following tools for interacting with the database:
"sql_db_query, sql_db_schema, sql_db_list_tables, sql_db_query_checker"

Begin!""",),
        ("user", "{input}"),
        MessagesPlaceholder(variable_name="agent_scratchpad"),
    ]
)

In [9]:
prompt.pretty_print()

================================ System Message ================================

You are an agent designed to interact with a SQL database.
Given an input question create a syntactically correct sqlite query to run, then look at the results of the query and return the answer.
Unless the user specifies a specific number of examples they wish to obtain, always limit your query to at most 10 results.
When there are less than 10 examples available in the database, limit the results to the number of examples that are available in the database.
You can order the results by a relevant column to return the most interesting examples in the database.
Only use the given tools. Only use the information returned by the tools to construct your final answer.
ALWAYS come up with the final answer AFTER you have used the sql_db_query tool.
DO NOT come up with the answer without constructing a SQL query.
If you have retrieved SQL-output in your observation and you are able to answer the input question with the SQL-output, your next thought may be that you know the final answer.
You MUST double check your query with the sql_db_query_checker tool before executing it.
Make sure the input to the sql_db_query tool starts with 'SELECT' and does not start with something like: ' ```sql '.
Delete preceding backticks (```) and the 'sql' keyword when constructing a query.
Also make sure the SQL-query ends with a semicolon.
If you get an error while executing a query, rewrite the query and try again.

DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.

If the question does not seem related to the database, just return "I don't know" as the final answer.

You have access to the following tools for interacting with the database:
"sql_db_query, sql_db_schema, sql_db_list_tables, sql_db_query_checker"

Begin!

================================ Human Message =================================

{input}

============================= Messages Placeholder =============================

{agent_scratchpad}

In the cell below, an agent chain is created that incorporates the user input into the prompt, which is then sent to the llm with the SQL-tools. The output that is generated is then converted into natural language.

In [10]:
agent = (
    {
        "input": lambda x: x["input"],
        "agent_scratchpad": lambda x: format_to_openai_tool_messages(x["intermediate_steps"]),
    }
    | prompt
    | llm_with_sql_tools
    | OpenAIToolsAgentOutputParser()
)

An agent executor function is then used to get the agent model running:

In [11]:
agent_executor = AgentExecutor(agent=agent, 
                               tools=tools,
                               handle_parsing_errors=True,
                               return_intermediate_steps=True,
                               verbose=True)

In [12]:
agent_executor.invoke({"input": "How many measurements are there?"})

> Entering new AgentExecutor chain...

Invoking: `sql_db_list_tables` with `{}`


addresses, associated_fat, associated_liquid, clients, cluster_results, consumption_day, consumption_recipe, consumption_sup_nut, districts, household_income, measurements, municipalities, neighborhoods, participants, peoples_income, provinces, schools, sports_facilities, user_client, users
Invoking: `sql_db_schema` with `{'table_names': 'measurements'}`



CREATE TABLE measurements (
	id INTEGER NOT NULL,
	user_id INTEGER,
	age INTEGER,
	margins TEXT,
	period TEXT,
	coding_3 TEXT,
	excellent_very_good_health REAL,
	meets_physical_activity_guidelines REAL,
	weekly_sporters REAL,
	underweight REAL,
	normal_weight REAL,
	overweight REAL,
	severe_overweight REAL,
	smoker REAL,
	meets_alcohol_guidelines REAL,
	drinker REAL,
	heavy_drinker REAL,
	excessive_drinker REAL,
	moderate_high_risk_of_anxiety_or_depression REAL,
	high_risk_of_anxiety_or_depression REAL,
	very_high_stress_in_past_4_weeks REAL,
	neighborhood_code TEXT,
	district_code TEXT,
	municipality_code TEXT,
	client_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(client_id) REFERENCES clients (id),
	FOREIGN KEY(district_code) REFERENCES districts (district_code),
	FOREIGN KEY(neighborhood_code) REFERENCES neighborhoods (neighborhood_code),
	FOREIGN KEY(municipality_code) REFERENCES municipalities (municipality_code)
)

/*
3 rows from measurements table:
id	user_id	age	margins	period	coding_3	excellent_very_good_health	meets_physical_activity_guidelines	weekly_sporters	underweight	normal_weight	overweight	severe_overweight	smoker	meets_alcohol_guidelines	drinker	heavy_drinker	excessive_drinker	moderate_high_risk_of_anxiety_or_depression	high_risk_of_anxiety_or_depression	very_high_stress_in_past_4_weeks	neighborhood_code	district_code	municipality_code	client_id
1	156071	53115	MW00000	2020JJ00	NL01	82.1	53.8	53.8	2.2	49.8	48.3	15.0	20.4	40.4	80.4	9.4	6.1	48.1	7.6	21.5	-1	-1	-1	1
2	156074	53115	MW00000	2020JJ00	GM1680	84.6	51.2	51.6	1.9	46.9	51.6	15.5	18.3	37.0	84.3	8.8	6.8	35.2	4.4	15.5	-1	-1	1680	1
3	156077	53115	MW00000	2020JJ00	WK168000	86.2	52.1	54.9	1.9	49.0	50.5	14.6	16.3	33.8	85.7	8.5	6.0	33.7	4.0	15.4	-1	168000	-1	1
*/
Invoking: `sql_db_query_checker` with `{'query': 'SELECT COUNT(*) FROM measurements;'}`


```sql
SELECT COUNT(*) FROM measurements;
```
Invoking: `sql_db_query` with `{'query': 'SELECT COUNT(*) FROM measurements;'}`


[(104046,)]There are 104,046 measurements in the database.

> Finished chain.

{'input': 'How many measurements are there?',
 'output': 'There are 104,046 measurements in the database.',
 'intermediate_steps': [(ToolAgentAction(tool='sql_db_list_tables', tool_input={}, log='\nInvoking: `sql_db_list_tables` with `{}`\n\n\n', message_log=[AIMessageChunk(content='', additional_kwargs={'tool_calls': [{'index': 0, 'id': 'call_gDyUpbLg3pfMawvebCX22Pus', 'function': {'arguments': '{}', 'name': 'sql_db_list_tables'}, 'type': 'function'}]}, response_metadata={'finish_reason': 'tool_calls'}, id='run-b63bfd4c-9d8d-4478-884b-5b563633684b', tool_calls=[{'name': 'sql_db_list_tables', 'args': {}, 'id': 'call_gDyUpbLg3pfMawvebCX22Pus'}], tool_call_chunks=[{'name': 'sql_db_list_tables', 'args': '{}', 'id': 'call_gDyUpbLg3pfMawvebCX22Pus', 'index': 0}])], tool_call_id='call_gDyUpbLg3pfMawvebCX22Pus'),
   'addresses, associated_fat, associated_liquid, clients, cluster_results, consumption_day, consumption_recipe, consumption_sup_nut, districts, household_income, measurements, municipalities, neighborhoods, participants, peoples_income, provinces, schools, sports_facilities, user_client, users'),
  (ToolAgentAction(tool='sql_db_schema', tool_input={'table_names': 'measurements'}, log="\nInvoking: `sql_db_schema` with `{'table_names': 'measurements'}`\n\n\n", message_log=[AIMessageChunk(content='', additional_kwargs={'tool_calls': [{'index': 0, 'id': 'call_t6hUwBwZQoyJ2YzIKLZLyISf', 'function': {'arguments': '{"table_names":"measurements"}', 'name': 'sql_db_schema'}, 'type': 'function'}]}, response_metadata={'finish_reason': 'tool_calls'}, id='run-d9b94079-e216-43ea-8115-11c40fccd9db', tool_calls=[{'name': 'sql_db_schema', 'args': {'table_names': 'measurements'}, 'id': 'call_t6hUwBwZQoyJ2YzIKLZLyISf'}], tool_call_chunks=[{'name': 'sql_db_schema', 'args': '{"table_names":"measurements"}', 'id': 'call_t6hUwBwZQoyJ2YzIKLZLyISf', 'index': 0}])], tool_call_id='call_t6hUwBwZQoyJ2YzIKLZLyISf'),
   '\nCREATE TABLE measurements (\n\tid INTEGER NOT NULL, \n\tuser_id INTEGER, \n\tage INTEGER, \n\tmargins TEXT, \n\tperiod TEXT, \n\tcoding_3 TEXT, \n\texcellent_very_good_health REAL, \n\tmeets_physical_activity_guidelines REAL, \n\tweekly_sporters REAL, \n\tunderweight REAL, \n\tnormal_weight REAL, \n\toverweight REAL, \n\tsevere_overweight REAL, \n\tsmoker REAL, \n\tmeets_alcohol_guidelines REAL, \n\tdrinker REAL, \n\theavy_drinker REAL, \n\texcessive_drinker REAL, \n\tmoderate_high_risk_of_anxiety_or_depression REAL, \n\thigh_risk_of_anxiety_or_depression REAL, \n\tvery_high_stress_in_past_4_weeks REAL, \n\tneighborhood_code TEXT, \n\tdistrict_code TEXT, \n\tmunicipality_code TEXT, \n\tclient_id INTEGER, \n\tPRIMARY KEY (id), \n\tFOREIGN KEY(client_id) REFERENCES clients (id), \n\tFOREIGN KEY(district_code) REFERENCES districts (district_code), \n\tFOREIGN KEY(neighborhood_code) REFERENCES neighborhoods (neighborhood_code), \n\tFOREIGN KEY(municipality_code) REFERENCES municipalities (municipality_code)\n)\n\n/*\n3 rows from measurements table:\nid\tuser_id\tage\tmargins\tperiod\tcoding_3\texcellent_very_good_health\tmeets_physical_activity_guidelines\tweekly_sporters\tunderweight\tnormal_weight\toverweight\tsevere_overweight\tsmoker\tmeets_alcohol_guidelines\tdrinker\theavy_drinker\texcessive_drinker\tmoderate_high_risk_of_anxiety_or_depression\thigh_risk_of_anxiety_or_depression\tvery_high_stress_in_past_4_weeks\tneighborhood_code\tdistrict_code\tmunicipality_code\tclient_id\n1\t156071\t53115\tMW00000\t2020JJ00\tNL01\t82.1\t53.8\t53.8\t2.2\t49.8\t48.3\t15.0\t20.4\t40.4\t80.4\t9.4\t6.1\t48.1\t7.6\t21.5\t-1\t-1\t-1\t1\n2\t156074\t53115\tMW00000\t2020JJ00\tGM1680\t84.6\t51.2\t51.6\t1.9\t46.9\t51.6\t15.5\t18.3\t37.0\t84.3\t8.8\t6.8\t35.2\t4.4\t15.5\t-1\t-1\t1680\t1\n3\t156077\t53115\tMW00000\t2020JJ00\tWK168000\t86.2\t52.1\t54.9\t1.9\t49.0\t50.5\t14.6\t16.3\t33.8\t85.7\t8.5\t6.0\t33.7\t4.0\t15.4\t-1\t168000\t-1\t1\n*/'),
  (ToolAgentAction(tool='sql_db_query_checker', tool_input={'query': 'SELECT COUNT(*) FROM measurements;'}, log="\nInvoking: `sql_db_query_checker` with `{'query': 'SELECT COUNT(*) FROM measurements;'}`\n\n\n", message_log=[AIMessageChunk(content='', additional_kwargs={'tool_calls': [{'index': 0, 'id': 'call_MbjtJoK2po4r831pqRSwcag5', 'function': {'arguments': '{"query":"SELECT COUNT(*) FROM measurements;"}', 'name': 'sql_db_query_checker'}, 'type': 'function'}]}, response_metadata={'finish_reason': 'tool_calls'}, id='run-261688f9-fe88-4071-afd7-24da49ddb23b', tool_calls=[{'name': 'sql_db_query_checker', 'args': {'query': 'SELECT COUNT(*) FROM measurements;'}, 'id': 'call_MbjtJoK2po4r831pqRSwcag5'}], tool_call_chunks=[{'name': 'sql_db_query_checker', 'args': '{"query":"SELECT COUNT(*) FROM measurements;"}', 'id': 'call_MbjtJoK2po4r831pqRSwcag5', 'index': 0}])], tool_call_id='call_MbjtJoK2po4r831pqRSwcag5'),
   '```sql\nSELECT COUNT(*) FROM measurements;\n```'),
  (ToolAgentAction(tool='sql_db_query', tool_input={'query': 'SELECT COUNT(*) FROM measurements;'}, log="\nInvoking: `sql_db_query` with `{'query': 'SELECT COUNT(*) FROM measurements;'}`\n\n\n", message_log=[AIMessageChunk(content='', additional_kwargs={'tool_calls': [{'index': 0, 'id': 'call_P8Xi1ReEdbitJkaQKZ8cuWhj', 'function': {'arguments': '{"query":"SELECT COUNT(*) FROM measurements;"}', 'name': 'sql_db_query'}, 'type': 'function'}]}, response_metadata={'finish_reason': 'tool_calls'}, id='run-9485f475-5772-442c-9df7-7b0d8f851742', tool_calls=[{'name': 'sql_db_query', 'args': {'query': 'SELECT COUNT(*) FROM measurements;'}, 'id': 'call_P8Xi1ReEdbitJkaQKZ8cuWhj'}], tool_call_chunks=[{'name': 'sql_db_query', 'args': '{"query":"SELECT COUNT(*) FROM measurements;"}', 'id': 'call_P8Xi1ReEdbitJkaQKZ8cuWhj', 'index': 0}])], tool_call_id='call_P8Xi1ReEdbitJkaQKZ8cuWhj'),
   '[(104046,)]')]}

In [13]:
llm.invoke("How many measurements are there?")

AIMessage(content='The number of measurements can vary widely depending on the context. For example:\n\n1. **In a scientific experiment**: The number of measurements could refer to the number of data points collected.\n2. **In a manufacturing process**: It could refer to the number of quality control checks.\n3. **In a survey**: It could refer to the number of questions or responses collected.\n4. **In a physical space**: It could refer to the number of dimensions or specific measurements taken (length, width, height, etc.).\n\nCould you please provide more context or specify the scenario you are referring to? This will help in giving a more precise answer.', response_metadata={'token_usage': {'completion_tokens': 133, 'prompt_tokens': 13, 'total_tokens': 146}, 'model_name': 'gpt-4o', 'system_fingerprint': 'fp_319be4768e', 'finish_reason': 'stop', 'logprobs': None}, id='run-43cac756-820c-4394-a8d9-a11edb060ca3-0', usage_metadata={'input_tokens': 13, 'output_tokens': 133, 'total_tokens': 146})

In [14]:
questions = [
    {"input": "How many addresses are in the database?"},
    {"input": "How many school are there?"},
    {"input": "List all measurements for the municipality of ‘’s-Hertogenbosch’"},
    {"input": "How many indor services are there for korfball?"},
    {"input": "How many measurements are there in the municipality of Staphorst where the percentage of people with excellent to very good health is above 60%?"},
    {"input": "How many measurements are there for the Vondelburt district where more than 1 out of 10 people is a heavy drinker%?"},
    {"input": "Can you show me the top 10 municipalities by their average percentage of weekly sporters?"},
    {"input": "List the top 10 districts by overwait and also list their respective values?"},
    {"input": "Can you find the top 10 municipalities with the highest median standardised income for me? Also show me how many people in that municipality have overweight and how many have a high risk of anxiety or depression."},
    {"input": "Give me the top 20 neighbourhoods in the Netherlands based on the amount of people who had very high stress in the past 4 weeks and have more than 20 percent of heavy drinkers. Also show me in which municipalities these neighborhoods are located."},
    {"input": "Can you show me the municipalities with an average disposable income between 100 and 120 and also show me the respective percentage of weekly sporters in that municipality?"},
    {"input": "Make a list with the top 10 neighborhoods and their municipalities with, on average, the highest percentage of weekly sporters but where the average standardized income of the corresponding municipality is below 15."},
]

In [15]:
for i, question in enumerate(questions):
    try:
        ans = agent_executor.invoke(question)
        print("Question {} : {}".format(i+1, question))
        print("Answer : ", ans.get("output"))
        print()
    except Exception as e:
        print("Question {} : {}".format(i+1, question))
        print("Error : ", e)
        print()

> Entering new AgentExecutor chain...

Invoking: `sql_db_list_tables` with `{}`


addresses, associated_fat, associated_liquid, clients, cluster_results, consumption_day, consumption_recipe, consumption_sup_nut, districts, household_income, measurements, municipalities, neighborhoods, participants, peoples_income, provinces, schools, sports_facilities, user_client, users
Invoking: `sql_db_schema` with `{'table_names': 'addresses'}`



CREATE TABLE addresses (
	address_id INTEGER NOT NULL,
	postal_code TEXT,
	house_number INTEGER NOT NULL,
	neighborhood_code TEXT,
	district_code TEXT,
	municipality_code TEXT,
	PRIMARY KEY (address_id),
	FOREIGN KEY(neighborhood_code) REFERENCES neighborhoods (neighborhood_code),
	FOREIGN KEY(district_code) REFERENCES districts (district_code),
	FOREIGN KEY(municipality_code) REFERENCES municipalities (municipality_code)
)

/*
3 rows from addresses table:
address_id	postal_code	house_number	neighborhood_code	district_code	municipality_code
1	9711LX	51	00140000	001400	0014
2	9712AA	1	00140000	001400	0014
3	9712AA	3	00140000	001400	0014
*/
Invoking: `sql_db_query_checker` with `{'query': 'SELECT COUNT(*) FROM addresses;'}`


```sql
SELECT COUNT(*) FROM addresses;
```
Invoking: `sql_db_query` with `{'query': 'SELECT COUNT(*) FROM addresses;'}`


[(7888477,)]There are 7,888,477 addresses in the database.

> Finished chain.
Question 1 : {'input': 'How many addresses are in the database?'}
Answer :  There are 7,888,477 addresses in the database.



> Entering new AgentExecutor chain...

Invoking: `sql_db_list_tables` with `{}`


addresses, associated_fat, associated_liquid, clients, cluster_results, consumption_day, consumption_recipe, consumption_sup_nut, districts, household_income, measurements, municipalities, neighborhoods, participants, peoples_income, provinces, schools, sports_facilities, user_client, users
Invoking: `sql_db_schema` with `{'table_names': 'schools'}`



CREATE TABLE schools (
	province TEXT,
	authorize_id INTEGER,
	"BRIN_id" TEXT,
	branch_id TEXT,
	branch_name TEXT,
	address TEXT,
	house_number TEXT,
	postal_code TEXT,
	city_name TEXT,
	municipality_number INTEGER,
	municipality_name TEXT,
	denomination TEXT,
	phone_number TEXT,
	internet_url TEXT,
	address_correspondation TEXT,
	house_number_correspondation TEXT,
	postal_code_correspondation TEXT,
	city_name_correspondation TEXT,
	nodal_id INTEGER,
	nodal_name TEXT,
	"RPA_id" INTEGER,
	"RPA_name" TEXT,
	"WGR_id" INTEGER,
	"WGR_name" TEXT,
	"COROP_id" INTEGER,
	"COROP_name" TEXT,
	education_field_id INTEGER,
	education_field_name TEXT,
	"RMC_id" INTEGER,
	"RMC_name" TEXT
)

/*
3 rows from schools table:
province	authorize_id	BRIN_id	branch_id	branch_name	address	house_number	postal_code	city_name	municipality_number	municipality_name	denomination	phone_number	internet_url	address_correspondation	house_number_correspondation	postal_code_correspondation	city_name_correspondation	nodal_id	nodal_name	RPA_id	RPA_name	WGR_id	WGR_name	COROP_id	COROP_name	education_field_id	education_field_name	RMC_id	RMC_name
Drenthe	32073	03WU	03WU00	KindcentrumDeWegwijzer	HarmTiesingstraat	74	9571AZ	2EEXLOERMOND	1681	BORGER-ODOORN	Protestants-Christelijk	0599671206	www.ckcdewegwijzer.nl	HarmTiesingstraat	74	9571AZ	2EEXLOERMOND	12	Emmen	5	Zuid-enMidden-Drenthe	8	Zuidoost-Drenthe	8	Zuidoost-Drenthe	4	Assen-Hoogeveen-Emmen	8	Zuid-OostDrenthe
Drenthe	32073	04LY	04LY00	ChristelijkKindcentrumDeBorgh	Molenstraat	3-A	9531CH	BORGER	1681	BORGER-ODOORN	Protestants-Christelijk	0599234254	www.cbsdeborgh.nl	Molenstraat	3-A	9531CH	BORGER	12	Emmen	5	Zuid-enMidden-Drenthe	8	Zuidoost-Drenthe	8	Zuidoost-Drenthe	4	Assen-Hoogeveen-Emmen	8	Zuid-OostDrenthe
Drenthe	32073	04TG	04TG00	KindcentrumDrijber	Nijenkamp	29	9419TM	DRIJBER	1731	MIDDEN-DRENTHE	Protestants-Christelijk	0593562543	www.cbsdrijber.nl	Nijenkamp	29	9419TM	DRIJBER	11	Assen	5	Zuid-enMidden-Drenthe	7	Noord-enMidden-Drenthe	7	Noord-Drenthe	4	Assen-Hoogeveen-Emmen	7	Noord-enMiddenDrenthe
*/
Invoking: `sql_db_query_checker` with `{'query': 'SELECT COUNT(*) FROM schools;'}`


```sql
SELECT COUNT(*) FROM schools;
```
Invoking: `sql_db_query` with `{'query': 'SELECT COUNT(*) FROM schools;'}`


[(6166,)]There are 6,166 schools.

> Finished chain.
Question 2 : {'input': 'How many school are there?'}
Answer :  There are 6,166 schools.



> Entering new AgentExecutor chain...

Invoking: `sql_db_list_tables` with `{}`


addresses, associated_fat, associated_liquid, clients, cluster_results, consumption_day, consumption_recipe, consumption_sup_nut, districts, household_income, measurements, municipalities, neighborhoods, participants, peoples_income, provinces, schools, sports_facilities, user_client, users
Invoking: `sql_db_schema` with `{'table_names': 'measurements, municipalities'}`



CREATE TABLE measurements (
	id INTEGER NOT NULL,
	user_id INTEGER,
	age INTEGER,
	margins TEXT,
	period TEXT,
	coding_3 TEXT,
	excellent_very_good_health REAL,
	meets_physical_activity_guidelines REAL,
	weekly_sporters REAL,
	underweight REAL,
	normal_weight REAL,
	overweight REAL,
	severe_overweight REAL,
	smoker REAL,
	meets_alcohol_guidelines REAL,
	drinker REAL,
	heavy_drinker REAL,
	excessive_drinker REAL,
	moderate_high_risk_of_anxiety_or_depression REAL,
	high_risk_of_anxiety_or_depression REAL,
	very_high_stress_in_past_4_weeks REAL,
	neighborhood_code TEXT,
	district_code TEXT,
	municipality_code TEXT,
	client_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(client_id) REFERENCES clients (id),
	FOREIGN KEY(district_code) REFERENCES districts (district_code),
	FOREIGN KEY(neighborhood_code) REFERENCES neighborhoods (neighborhood_code),
	FOREIGN KEY(municipality_code) REFERENCES municipalities (municipality_code)
)

/*
3 rows from measurements table:
id	user_id	age	margins	period	coding_3	excellent_very_good_health	meets_physical_activity_guidelines	weekly_sporters	underweight	normal_weight	overweight	severe_overweight	smoker	meets_alcohol_guidelines	drinker	heavy_drinker	excessive_drinker	moderate_high_risk_of_anxiety_or_depression	high_risk_of_anxiety_or_depression	very_high_stress_in_past_4_weeks	neighborhood_code	district_code	municipality_code	client_id
1	156071	53115	MW00000	2020JJ00	NL01	82.1	53.8	53.8	2.2	49.8	48.3	15.0	20.4	40.4	80.4	9.4	6.1	48.1	7.6	21.5	-1	-1	-1	1
2	156074	53115	MW00000	2020JJ00	GM1680	84.6	51.2	51.6	1.9	46.9	51.6	15.5	18.3	37.0	84.3	8.8	6.8	35.2	4.4	15.5	-1	-1	1680	1
3	156077	53115	MW00000	2020JJ00	WK168000	86.2	52.1	54.9	1.9	49.0	50.5	14.6	16.3	33.8	85.7	8.5	6.0	33.7	4.0	15.4	-1	168000	-1	1
*/


CREATE TABLE municipalities (
	municipality_code TEXT,
	municipality_name TEXT,
	province_code INTEGER
)

/*
3 rows from municipalities table:
municipality_code	municipality_name	province_code
1680	Aa en Hunze	22
0358	Aalsmeer	27
0197	Aalten	25
*/
Invoking: `sql_db_query_checker` with `{'query': "SELECT * FROM measurements WHERE municipality_code = (SELECT municipality_code FROM municipalities WHERE municipality_name = '’s-Hertogenbosch');"}`


```sql
SELECT * FROM measurements WHERE municipality_code = (SELECT municipality_code FROM municipalities WHERE municipality_name = '’s-Hertogenbosch');
```
Invoking: `sql_db_query` with `{'query': "SELECT * FROM measurements WHERE municipality_code = (SELECT municipality_code FROM municipalities WHERE municipality_name = '’s-Hertogenbosch');"}`


There are no measurements available for the municipality of '’s-Hertogenbosch' in the database.

> Finished chain.
Question 3 : {'input': 'List all measurements for the municipality of ‘’s-Hertogenbosch’'}
Answer :  There are no measurements available for the municipality of '’s-Hertogenbosch' in the database.



> Entering new AgentExecutor chain...

Invoking: `sql_db_list_tables` with `{}`


addresses, associated_fat, associated_liquid, clients, cluster_results, consumption_day, consumption_recipe, consumption_sup_nut, districts, household_income, measurements, municipalities, neighborhoods, participants, peoples_income, provinces, schools, sports_facilities, user_client, users
Invoking: `sql_db_schema` with `{'table_names': 'sports_facilities'}`



CREATE TABLE sports_facilities (
	facility_id INTEGER,
	year_of_construction REAL,
	total_indoor_services INTEGER,
	total_outdoor_services INTEGER,
	outdoor_synthetic_grass_fields INTEGER,
	outdoor_natural_grass_fields INTEGER,
	outdoor_semi_water_fields INTEGER,
	outdoor_water_fields INTEGER,
	sports_halls INTEGER,
	sports_rooms INTEGER,
	gymnasiums INTEGER,
	sport TEXT,
	rijksdriehoek_x_coordinate REAL,
	rijksdriehoek_y_coordinate REAL,
	address_id INTEGER
)

/*
3 rows from sports_facilities table:
facility_id	year_of_construction	total_indoor_services	total_outdoor_services	outdoor_synthetic_grass_fields	outdoor_natural_grass_fields	outdoor_semi_water_fields	outdoor_water_fields	sports_halls	sports_rooms	gymnasiums	sport	rijksdriehoek_x_coordinate	rijksdriehoek_y_coordinate	address_id
18567	None	0	3	0	3	0	0	0	0	0	voetbal	181285.0	316294.0	7163026
7577	None	1	0	0	0	0	0	0	0	1	zaalsport	98193.0	436609.0	3466133
13711	2012.0	1	0	0	0	0	0	0	1	0	zaalsport	205566.0	438053.0	7563296
*/
Invoking: `sql_db_query_checker` with `{'query': "SELECT COUNT(*) FROM sports_facilities WHERE sport = 'korfball' AND total_indoor_services > 0;"}`


```sql
SELECT COUNT(*) FROM sports_facilities WHERE sport = 'korfball' AND total_indoor_services > 0;
```
Invoking: `sql_db_query` with `{'query': "SELECT COUNT(*) FROM sports_facilities WHERE sport = 'korfball' AND total_indoor_services > 0;"}`


[(0,)]There are no indoor services for korfball.

> Finished chain.
Question 4 : {'input': 'How many indor services are there for korfball?'}
Answer :  There are no indoor services for korfball.



> Entering new AgentExecutor chain...

Invoking: `sql_db_list_tables` with `{}`


addresses, associated_fat, associated_liquid, clients, cluster_results, consumption_day, consumption_recipe, consumption_sup_nut, districts, household_income, measurements, municipalities, neighborhoods, participants, peoples_income, provinces, schools, sports_facilities, user_client, users
Invoking: `sql_db_schema` with `{'table_names': 'measurements, municipalities'}`



CREATE TABLE measurements (
	id INTEGER NOT NULL,
	user_id INTEGER,
	age INTEGER,
	margins TEXT,
	period TEXT,
	coding_3 TEXT,
	excellent_very_good_health REAL,
	meets_physical_activity_guidelines REAL,
	weekly_sporters REAL,
	underweight REAL,
	normal_weight REAL,
	overweight REAL,
	severe_overweight REAL,
	smoker REAL,
	meets_alcohol_guidelines REAL,
	drinker REAL,
	heavy_drinker REAL,
	excessive_drinker REAL,
	moderate_high_risk_of_anxiety_or_depression REAL,
	high_risk_of_anxiety_or_depression REAL,
	very_high_stress_in_past_4_weeks REAL,
	neighborhood_code TEXT,
	district_code TEXT,
	municipality_code TEXT,
	client_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(client_id) REFERENCES clients (id),
	FOREIGN KEY(district_code) REFERENCES districts (district_code),
	FOREIGN KEY(neighborhood_code) REFERENCES neighborhoods (neighborhood_code),
	FOREIGN KEY(municipality_code) REFERENCES municipalities (municipality_code)
)

/*
3 rows from measurements table:
id	user_id	age	margins	period	coding_3	excellent_very_good_health	meets_physical_activity_guidelines	weekly_sporters	underweight	normal_weight	overweight	severe_overweight	smoker	meets_alcohol_guidelines	drinker	heavy_drinker	excessive_drinker	moderate_high_risk_of_anxiety_or_depression	high_risk_of_anxiety_or_depression	very_high_stress_in_past_4_weeks	neighborhood_code	district_code	municipality_code	client_id
1	156071	53115	MW00000	2020JJ00	NL01	82.1	53.8	53.8	2.2	49.8	48.3	15.0	20.4	40.4	80.4	9.4	6.1	48.1	7.6	21.5	-1	-1	-1	1
2	156074	53115	MW00000	2020JJ00	GM1680	84.6	51.2	51.6	1.9	46.9	51.6	15.5	18.3	37.0	84.3	8.8	6.8	35.2	4.4	15.5	-1	-1	1680	1
3	156077	53115	MW00000	2020JJ00	WK168000	86.2	52.1	54.9	1.9	49.0	50.5	14.6	16.3	33.8	85.7	8.5	6.0	33.7	4.0	15.4	-1	168000	-1	1
*/


CREATE TABLE municipalities (
	municipality_code TEXT,
	municipality_name TEXT,
	province_code INTEGER
)

/*
3 rows from municipalities table:
municipality_code	municipality_name	province_code
1680	Aa en Hunze	22
0358	Aalsmeer	27
0197	Aalten	25
*/
Invoking: `sql_db_query_checker` with `{'query': "SELECT COUNT(*) FROM measurements m JOIN municipalities mu ON m.municipality_code = mu.municipality_code WHERE mu.municipality_name = 'Staphorst' AND m.excellent_very_good_health > 60;"}`


```sql
SELECT COUNT(*)
FROM measurements m
JOIN municipalities mu
ON m.municipality_code = mu.municipality_code
WHERE mu.municipality_name = 'Staphorst'
AND m.excellent_very_good_health > 60;
```
Invoking: `sql_db_query` with `{'query': "SELECT COUNT(*) FROM measurements m JOIN municipalities mu ON m.municipality_code = mu.municipality_code WHERE mu.municipality_name = 'Staphorst' AND m.excellent_very_good_health > 60;"}`


[(6,)]There are 6 measurements in the municipality of Staphorst where the percentage of people with excellent to very good health is above 60%.

> Finished chain.
Question 5 : {'input': 'How many measurements are there in the municipality of Staphorst where the percentage of people with excellent to very good health is above 60%?'}
Answer :  There are 6 measurements in the municipality of Staphorst where the percentage of people with excellent to very good health is above 60%.



> Entering new AgentExecutor chain...

Invoking: `sql_db_list_tables` with `{}`


addresses, associated_fat, associated_liquid, clients, cluster_results, consumption_day, consumption_recipe, consumption_sup_nut, districts, household_income, measurements, municipalities, neighborhoods, participants, peoples_income, provinces, schools, sports_facilities, user_client, users
Invoking: `sql_db_schema` with `{'table_names': 'measurements, districts'}`



CREATE TABLE districts (
	district_code TEXT,
	district_name TEXT,
	municipality_code TEXT
)

/*
3 rows from districts table:
district_code	district_name	municipality_code
168000	Wijk 00 Annen	1680
168001	Wijk 01 Eext	1680
168002	Wijk 02 Anloo	1680
*/


CREATE TABLE measurements (
	id INTEGER NOT NULL,
	user_id INTEGER,
	age INTEGER,
	margins TEXT,
	period TEXT,
	coding_3 TEXT,
	excellent_very_good_health REAL,
	meets_physical_activity_guidelines REAL,
	weekly_sporters REAL,
	underweight REAL,
	normal_weight REAL,
	overweight REAL,
	severe_overweight REAL,
	smoker REAL,
	meets_alcohol_guidelines REAL,
	drinker REAL,
	heavy_drinker REAL,
	excessive_drinker REAL,
	moderate_high_risk_of_anxiety_or_depression REAL,
	high_risk_of_anxiety_or_depression REAL,
	very_high_stress_in_past_4_weeks REAL,
	neighborhood_code TEXT,
	district_code TEXT,
	municipality_code TEXT,
	client_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(client_id) REFERENCES clients (id),
	FOREIGN KEY(district_code) REFERENCES districts (district_code),
	FOREIGN KEY(neighborhood_code) REFERENCES neighborhoods (neighborhood_code),
	FOREIGN KEY(municipality_code) REFERENCES municipalities (municipality_code)
)

/*
3 rows from measurements table:
id	user_id	age	margins	period	coding_3	excellent_very_good_health	meets_physical_activity_guidelines	weekly_sporters	underweight	normal_weight	overweight	severe_overweight	smoker	meets_alcohol_guidelines	drinker	heavy_drinker	excessive_drinker	moderate_high_risk_of_anxiety_or_depression	high_risk_of_anxiety_or_depression	very_high_stress_in_past_4_weeks	neighborhood_code	district_code	municipality_code	client_id
1	156071	53115	MW00000	2020JJ00	NL01	82.1	53.8	53.8	2.2	49.8	48.3	15.0	20.4	40.4	80.4	9.4	6.1	48.1	7.6	21.5	-1	-1	-1	1
2	156074	53115	MW00000	2020JJ00	GM1680	84.6	51.2	51.6	1.9	46.9	51.6	15.5	18.3	37.0	84.3	8.8	6.8	35.2	4.4	15.5	-1	-1	1680	1
3	156077	53115	MW00000	2020JJ00	WK168000	86.2	52.1	54.9	1.9	49.0	50.5	14.6	16.3	33.8	85.7	8.5	6.0	33.7	4.0	15.4	-1	168000	-1	1
*/
Invoking: `sql_db_query_checker` with `{'query': "SELECT COUNT(*) FROM measurements m JOIN districts d ON m.district_code = d.district_code WHERE d.district_name = 'Vondelburt' AND m.heavy_drinker > 10;"}`


```sql
SELECT COUNT(*)
FROM measurements m
JOIN districts d
ON m.district_code = d.district_code
WHERE d.district_name = 'Vondelburt'
AND m.heavy_drinker > 10;
```
Invoking: `sql_db_query` with `{'query': "SELECT COUNT(*) FROM measurements m JOIN districts d ON m.district_code = d.district_code WHERE d.district_name = 'Vondelburt' AND m.heavy_drinker > 10;"}`


[(0,)]There are no measurements for the Vondelburt district where more than 1 out of 10 people is a heavy drinker.

> Finished chain.
Question 6 : {'input': 'How many measurements are there for the Vondelburt district where more than 1 out of 10 people is a heavy drinker%?'}
Answer :  There are no measurements for the Vondelburt district where more than 1 out of 10 people is a heavy drinker.



> Entering new AgentExecutor chain...

Invoking: `sql_db_list_tables` with `{}`


addresses, associated_fat, associated_liquid, clients, cluster_results, consumption_day, consumption_recipe, consumption_sup_nut, districts, household_income, measurements, municipalities, neighborhoods, participants, peoples_income, provinces, schools, sports_facilities, user_client, users
Invoking: `sql_db_schema` with `{'table_names': 'municipalities'}`



CREATE TABLE municipalities (
	municipality_code TEXT,
	municipality_name TEXT,
	province_code INTEGER
)

/*
3 rows from municipalities table:
municipality_code	municipality_name	province_code
1680	Aa en Hunze	22
0358	Aalsmeer	27
0197	Aalten	25
*/
Invoking: `sql_db_schema` with `{'table_names': 'cluster_results'}`



CREATE TABLE cluster_results (
	province_code TEXT,
	province_name TEXT,
	municipality_code TEXT,
	municipality_name TEXT,
	district_code TEXT,
	district_name TEXT,
	neighborhood_code TEXT,
	neighborhood_name TEXT,
	excellent_very_good_health REAL,
	meets_physical_activity_guidelines REAL,
	weekly_sporters REAL,
	underweight REAL,
	normal_weight REAL,
	overweight REAL,
	severe_overweight REAL,
	smoker REAL,
	meets_alcohol_guidelines REAL,
	drinker REAL,
	heavy_drinker REAL,
	excessive_drinker REAL,
	moderate_high_risk_of_anxiety_or_depression REAL,
	high_risk_of_anxiety_or_depression REAL,
	very_high_stress_in_past_4_weeks REAL,
	average_personal_income TEXT,
	cluster INTEGER
)

/*
3 rows from cluster_results table:
province_code	province_name	municipality_code	municipality_name	district_code	district_name	neighborhood_code	neighborhood_name	excellent_very_good_health	meets_physical_activity_guidelines	weekly_sporters	underweight	normal_weight	overweight	severe_overweight	smoker	meets_alcohol_guidelines	drinker	heavy_drinker	excessive_drinker	moderate_high_risk_of_anxiety_or_depression	high_risk_of_anxiety_or_depression	very_high_stress_in_past_4_weeks	average_personal_income	cluster
None	None	None	None	None	None	16800000	Annen	86.2	52.2	55.0	1.9	48.8	50.6	14.7	16.4	33.6	85.6	8.4	5.9	33.9	4.0	15.5	None	1
None	None	None	None	None	None	16800009	Verspreide huizen Annen	87.0	51.7	52.2	1.9	52.1	48.4	12.5	15.3	37.9	87.2	9.0	7.7	29.6	2.8	13.1	None	1
None	None	None	None	None	None	16800100	Eext	85.3	51.6	50.6	2.1	46.7	52.4	15.1	18.3	34.4	85.1	9.6	7.5	36.2	4.7	15.6	None	1
*/
Invoking: `sql_db_query_checker` with `{'query': 'SELECT municipality_name, AVG(weekly_sporters) as avg_weekly_sporters FROM cluster_results GROUP BY municipality_name ORDER BY avg_weekly_sporters DESC LIMIT 10;'}`


```sql
SELECT municipality_name, AVG(weekly_sporters) as avg_weekly_sporters
FROM cluster_results
GROUP BY municipality_name
ORDER BY avg_weekly_sporters DESC
LIMIT 10;
```
Invoking: `sql_db_query` with `{'query': 'SELECT municipality_name, AVG(weekly_sporters) as avg_weekly_sporters FROM cluster_results GROUP BY municipality_name ORDER BY avg_weekly_sporters DESC LIMIT 10;'}`


[(None, 46.61177174315812)]